* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./asset/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* style navbar and logo */
nav {
  margin: 50px 0px 0px 60px;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 100px;
}
/* style question and buttons */
#questions {
  background-color: aqua;
  color: rgb(182, 203, 44);
  margin: 140px 100px;
  text-align: center;
}
#btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 300px;
  margin-left: 400px;
  gap: 20px;
  margin-top: 80px;

}

.btn {
  padding: 1rem 3rem;
  border-radius: 30px;
  border-top: 2px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: transparent;
  color: white;
  text-wrap: nowrap;
  cursor: pointer;
}

.btn:hover 

/* style counting */
footer {
  margin-top: 170px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
