* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./asset/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* style navbar and logo */
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 100px;
  /* margin-right: 600px; */
}
/* timer */
.container-timer {
  height: 130px;
  width: 130px;
  border: 3px solid #1995ad;
  border-radius: 50%;
}
.timer {
  text-align: center;
  margin-top: 50px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* style question and buttons */
#question-container {
  color: white;
  margin: 80px 80px;
  text-align: center;
  font-size: 50px;
}
#container-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 120px;
}

.btn {
  padding: 1rem 6rem;
  border-radius: 30px;
  border-top: 2px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 20px;
}
*/ .btn:hover {
  background-color: #d20094;
}
.btn:active {
  background-color: #900080;
}

/* style counting */
footer {
  color: white;
}
footer span {
  color: #d20094;
}
