* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./asset/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* style navbar and logo */
nav {
  margin: 50px 0px 0px 60px;
}

#logo {
  width: 150px;
  height: auto;
  margin-bottom: 100px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* style question and buttons */
#question-container {
  background-color: aqua;
  color: rgb(182, 203, 44);
  margin: 140px 100px;
  text-align: center;
}
#container-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 120px;
}

.btn {
  padding: 1rem 6rem;
  border-radius: 30px;
  border-top: 2px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-wrap: nowrap;
  cursor: pointer;
}
.btn:hover {
  background-color: #d20094;
}
.btn:active {
  background-color: #900080;
}

/* style counting */
footer {
  margin-bottom: 50px;
  color: white;
}
footer span {
  color: #d20094;
}
